<div class="about-main">
  <h2>Neko自慢会とは</h2>
  <p>
    おたくの猫ちゃんの素敵な写真を公開してみませんか？
    <br>
    猫ちゃんの素敵な写真を投稿し、気に入った投稿に「いいにゃ！」をつけることが出来ます
  </p>
  <div class="explanation">
      <h3>下記のようなケースや、猫ちゃん以外の写真は投稿できません</h2>
      <div class ="expl">
       <img class="expl-1"src="/design/test.png">
       <h3 class="expl-2">人だけの写真</h3>
      </div>
      <div class ="expla">
       <img class="expl-1" src="/design/test2.png">
       <h3 class="expl-2">ゾッとする写真</h3>
      </div>
      <div class ="expla">
       <img class="expl-1" src="/design/test3.png">
       <h3 class="expl-2" >セクシーな写真</h3>
      </div>
  <!-- img src="/design/func_1.jpg" class="about-img" -->
</div>
