
/* posts/index ================================ */
.posts-index-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7; 
  }
  
  .post-left img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
  }
  
  .post-user-name a {
    font-weight: 600;
  }
  
  .post-user-name a:hover {
    color: #deb887;
  }
  
  .post-left {
    float: left;
    width: 10%;
  }
  
  .post-right {
    float: left;
    width: 90%;
    padding-left: 25px;
    text-align: left;
  }
  
  /* posts/show ================================ */
  .posts-show form {
    display: inline;
  }
  
  .posts-show .posts-show-item {
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
    overflow: hidden;

    /*　新機能 写真プログラム*/
    text-align: center;
  }
 


  .posts-show .post-user-name img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle;
    object-fit: cover;
  }

  .posts-show .posts-image {
      width: 350px; 
      height: 350px;
      box-shadow: 0 2px 6px #c1ced7;
      object-fit: contain;
      border-radius: 30%;  
  }
  


  .posts-show-item .post-user-name a {
    vertical-align: middle;
    font-size: 24px;
    margin-left: 15px;
  }
  
  .posts-show-item p {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .post-time {
    color: #8899a6;
    margin-bottom: 10px;
  }
  
  .like-btn{
    color: #8899a6;
    font-size: 36px;
  }
  
  .like-btn-unlike{
    color: #deb887;
    font-size: 36px;
  }

  .cat-button{
    text-align: left;
  }

  .post-menus {
    float: right;
  }
  
  .post-menus a, .post-menus input {
    color: #8899a6;
    text-decoration: underline;
    font-size: 14px;
  }
  
  /* posts/new ================================ */
  .posts-new .form-body
  {
    border: dashed 2px #deb887;
    box-shadow: 0px 0px 0px 10px white;
  }
  .posts-new textarea {
    font-size: 20px;
    padding: 10px;
    min-height: 140px;
    border: 1px solid rgb(216, 218, 223);
    resize: none;
  }

  .posts-new textarea::-webkit-input-placeholder {
    font-size: 24px;
    opacity: 0.5;
  }

  .posts-new .post-user-name{
    text-align: left;
  }
  
  .posts-new .post-user-name img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    vertical-align: middle;
    object-fit: cover;
  }

  .posts-new .posts-show-item span{
    text-align: left;
  }

  .posts-new #cat-name-content{
    width: 80%;
  }
  .posts-new #submit-button{
    max-width: 150px;
  }
  
  .posts-new #cat-name-button{
    width: 15%;
  }

  .posts-new #submit-button,#cat-name-button{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background: #deb887; 
    color: #fff;
    font-weight: bold;
    padding: 13px 10px 10px;
    border-radius: 5px;
    border-color: white;
    border-bottom: 5px solid rgba(0,0,0,0.3);
  }

  .posts-new #submit-button:hover, #cat-name-button:hover {
     animation: 1s flash;
  }
   
  .posts-new #submit-button:active,  #cat-name-button:active{
     border-bottom-width: 0;
     margin-top: 5px;
     background: #deb887; 
  }

  @keyframes flash {
     from { opacity: 0.5; }
     to { opacity: 1; }
  }
